<!-- Header component -->
<app-header></app-header>

<!-- Body with search functionality, loading screen and video placeholder  -->
<div id="content" class="card-body text-center centerAlign">
    <!-- Search field with headline -->
    <div id="urlTextField">
        <p id="headline" class="bhfFontText">Please enter Vimeo Video URL</p>
        <input id="videoURL" class="form-control url bhfFontText" #videoURL placeholder="Enter URL" type="text">
    </div>
    <!-- Placeholder for empty field error -->
    <div id="emptyFieldError" *ngIf="emptyFieldError">
        <p id="fieldError" class="bhfErrorFontText">This field can't be left blank</p>
    </div>
    <!-- Placeholder for HTTP response error -->
    <div id="httpError" *ngIf="httpError && !emptyFieldError">
        <p id="httpError" class="bhfErrorFontText">{{httpErroInfo}}</p>
    </div>
    <!-- Trigger search event -->
    <div id="searchButton">
        <button id="search" class="btn btn-danger bhfFontText" (click)="getVideo(videoURL.value)">Search</button>
    </div>
    <!-- Loading screen implementation -->
    <div id="loadingScreen">
        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
            <p style="color: white">Please Wait...</p>  
        </ngx-spinner>
    </div>
    <!-- Video placeholder -->
    <div id="videoPlaceholder" class="marginTop">
        <p id="videoInfo" class="bhfFontText">{{videoInfo}}</p>
        <div id="videoTemplate" #videoTemplate></div>
    </div>
</div>

<!-- Footer component -->
<app-footer></app-footer>