.url {
    width: 30%;
    margin: auto;
    display: block;
    margin-bottom: 1rem;
}

.bhfFontText {
    font-family: "BHF Beats Bold",Trebuchet,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    font-size: 1.125rem;
}

.bhfErrorFontText {
    font-family: "BHF Beats Bold",Trebuchet,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    font-size: 1.125rem;
    color: red;
}

.centerAlign {
    margin-top: 5rem;
}

